<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="app.droprun.DemoHomeRecoveryActivity" android:exported="false" />
        <activity android:name="app.droprun.DemoFocusActivity" android:exported="false" />
        <activity android:name="app.droprun.DemoSettingsFocusActivity" android:exported="false" />
        <activity android:name="app.droprun.DemoSettingsBusyActivity" android:exported="false" />
        <activity android:name="app.droprun.DemoManualPairActivity" android:exported="false" />
        <activity android:name="app.droprun.DemoShareFeedbackActivity" android:exported="false" android:theme="@style/ShareTheme" android:taskAffinity="" android:excludeFromRecents="true" android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustResize" />
        <activity android:name="app.droprun.DemoShareEditorActivity" android:exported="false" android:theme="@style/ShareTheme" android:taskAffinity="" android:excludeFromRecents="true" android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustResize" />
        <provider android:name="app.droprun.DemoExportProvider" android:authorities="${applicationId}.export-fixture" android:exported="false" />
        <provider android:name="app.droprun.DemoImportProvider" android:authorities="${applicationId}.import-fixture" android:exported="false" />
        <activity android:name="app.droprun.DemoHomeActivity" android:exported="true" />
        <activity android:name="app.droprun.DemoPairActivity" android:exported="true" />
        <activity android:name="app.droprun.DemoSettingsActivity" android:exported="true" />
        <activity android:name="app.droprun.DemoTaskActivity" android:exported="true" />
        <activity android:name="app.droprun.DemoDeliverablesActivity" android:exported="false" />
        <activity android:name="app.droprun.DemoDecisionActivity" android:exported="false" />
        <activity android:name="app.droprun.DemoDeletionActivity" android:exported="false" />
        <activity android:name="app.droprun.DemoShareActivity" android:exported="true" android:theme="@style/ShareTheme" android:taskAffinity="" android:excludeFromRecents="true" android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
